.carcbackground{
    background: #fffbb1;
}
.icons{
    display: flex;
    justify-content: flex-end;
    height: 5vh;
}
.icons i {
    margin-left: 1.5em;
}
.headcolour{
    color: #ebeb5c;
    
}


.bgimg{
    background-image: url('./resources/bgimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
  }
 
